* {
    background-color: #87CEEB;
}

h1 {
    visibility: hidden;
}

.boxes>div {
    border-radius: 5px;
    border-top: solid 2px rgba(0, 0, 0, .2);
    border-left: solid 3px rgba(255, 255, 255, .2);
    border-bottom: solid 3px rgba(0, 0, 0, .2);
    backface-visibility: hidden;
    min-height: 100px;
    /* flex:none; */
    width: 240px;
    /* align-items: center; */
    margin-top: 20%;
}

.box1 {
    background-color: #9400D3;
    position: relative;

}

div:nth-child(2) {
    position: relative;
    margin-left: 14.29%;
    margin-top: -105px;
    background-color: #4B0082;
}

div:nth-child(3) {
    position: relative;
    margin-left: 28.58%;
    margin-top: -105px;

    background-color: #0000FF;
}

div:nth-child(4) {
    position: relative;
    margin-left: 42.87%;
    margin-top: -105px;

    background-color: #00FF00;
}

div:nth-child(5) {
    position: relative;
    margin-left: 57.16%;
    margin-top: -105px;

    background-color: #FFFF00;
}

div:nth-child(6) {
    position: relative;
    margin-left: 71.45%;
    margin-top: -105px;

    background-color: #FF7F00;
}

div:nth-child(7) {
    display: flex;
    position: fixed;
    margin-left: 85.74%;
    margin-top: -105px;

    background-color: #FF0000;

}

@media screen and (max-width: 1400px) {
    div:nth-child(7) {
        visibility: hidden;
        width: 0px;
        background-color: #ff5700;
        transition: visibility 0.5s, width 0.5s, min-height 0.5s, background-color 1s;
    }


    div:nth-child(6) {
        position: fixed;
        transition: width 2s;
        background-color: #ff5700;
    }
}

@media screen and (max-width: 1200px) {
    div:nth-child(6) {
        visibility: hidden;
        width: 0px;
        background-color: #ffaf00;
        transition: visibility 0.5s, width 0.5s, min-height 0.5s, background-color 1s;

    }


    div:nth-child(5) {
        position: fixed;
        background-color: #ffaf00;
    }
}

@media screen and (max-width: 1000px) {
    div:nth-child(5) {
        visibility: hidden;
        width: 0px;
        background-color: #c6d900;
        transition: visibility 0.5s, width 0.5s, min-height 0.5s, background-color 1s;

    }


    div:nth-child(4) {
        position: fixed;
        background-color: #c6d900;
    }
}

@media screen and (max-width: 800px) {
    div:nth-child(4) {
        visibility: hidden;
        width: 0px;
        background-color: #ff003a;
        transition: visibility 0.5s, width 0.5s, min-height 0.5s, background-color 1s;

    }


    div:nth-child(3) {
        position: fixed;
        background-color: #ff003a;

    }
}

@media screen and (max-width: 700px) {
    div:nth-child(3) {
        visibility: hidden;
        width: 0px;
        background-color: #bf006e;
        transition: visibility 0.5s, width 0.5s, min-height 0.5s, background-color 1s;

    }


    div:nth-child(2) {
        position: fixed;
        background-color: #bf006e;
        ;
    }
}

@media screen and (max-width: 600px) {
    div:nth-child(2) {
        visibility: hidden;
        width: 0px;
        background-color: #bb009b;
        transition: visibility 0.5s, width 0.5s, min-height 0.5s, background-color 1s;

    }


    .box1 {
        visibility: hidden;
        width: 0px;
        background-color: #bb009b;
        transition: visibility 1s, width 1.5s, min-height 1.5s, background-color 1s;

    }
    h1{
        visibility: visible;
        transition: visibility 10s;

    }
}